:root {
--y: 1px;
--col1: #81b4be;
--col2: #489fb5;
--col3: #ffa62b;
--col4: #ede7e3;
--col5: #16697a;
--col6: rgb(236, 234, 234);
}

html {
    font-size: 62.5%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Kanit", "Arial";
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

body.blur > :not(.portfolio-all) {
    filter: blur(8px);
}

h1 {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-weight: 600;
    font-size: 2.4rem;
}

h3 {
    font-weight: 400;
    font-size: 2.2rem;
}

h4 {
    font-weight: 400;
    font-size: 2rem; 
}

h5 {
    font-weight: 400;
    font-size: 1.8rem;
}

p, li {
    font-size: 1.6rem;
    font-weight: 200;
} 

a {
    text-decoration: none;
}

button {
    width: max-content;
    padding: 1.2rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 3rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.062) 0px 3px;
    width: 16rem;
    cursor: pointer;
}

.button-filled {
    border: 2px solid var(--col3);
    background-color: var(--col3);
    color: black;
}

.button-filled:hover {
    border: none;
    border: 2px solid #ffbd60;
    background-color: #ffbd60;
    color: black;
    transition: 0.4s ease-in-out;
}
.button-empty {
    border: 2px solid var(--col5);
    background-color: rgba(255, 255, 255, 0.705);
    color: var(--col5);
}

.button-empty:hover {
    background-color: var(--col5);
    color: rgba(255, 255, 255, 0.884);
    transition: 0.4s ease-in-out;
}

section:not(.numbers, .advantages), .header-wrapper {
    max-width: 120rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: auto;
    margin-right: auto;
}

section {
    opacity: 0;
}

.visible {
    opacity: 1;
    animation: sectionAnimate 1s ;
    transition: sectionAnimate ease-in 0.5s;
}

@keyframes sectionAnimate {
    from {
        transform: translateY(50rem);
        filter: blur(8px);
    }
    to {
        transform: translateY(0rem);
        filter: blur(0px);
    }
}


/* HEADER */

.header {
    height: 75vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgb(255, 255, 255)), url(./img/linia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    background-size: cover;
    height: 100%;
}

.header-nav {
    display: none; 
    flex-direction: row;
    justify-content: flex-end;
    height: fit-content;
    font-size: 5rem;
    list-style: none;
    width: 100%;
}

.header-nav-mobile {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: white;
    z-index: 99999;
}

.header-nav-mobile-close {
    position: absolute;
    top: 5rem;
    right: 5rem;
    cursor: pointer;
}

.header-logo {
    display: block;
    position: absolute;
    top: 4.5rem;
    font-size: 6rem;
    font-weight: 600;
    color: white;
    line-height: 6rem;
    transform: none;
}

.header-logo.black {
    color: black;
}

.header-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4.5rem;
    right: 4rem;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    cursor: pointer;
    opacity: 1;
}

.header-hamburger > svg {
    display: block;
    height: 80%;
    width: 80%;
}

.header-title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 3rem;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 3rem;
    margin-left: 2rem;
    text-align: right;
}

.header-title >h1 {
    max-width: 30rem; 
}

.header-title > h4 {
    line-height: 2.5rem;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
}

.header-nav > li {
    display: inline-block;
    width: max-content;
    padding: 2rem;
    list-style: none;
}

.header-nav > li > a, .header-nav-mobile-list > li > a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 2.4rem;
    
}
.header-nav-mobile-list {
    list-style: none;
    text-align: center;
}

.header-nav > li > a:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.939);
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    transition: color 0.15s ease-in-out;
} 

.header-nav-mobile-list > li > a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    transition: color 0.15s ease-in-out;
} 


/* ABOUT */

.about {
    display: block;
    margin: 0 auto;
}

.about-descr {
    max-width: 100rem;
    user-select: none;
    margin: 0 auto;
}

.about-descr > p {
    text-align: center;
}

.about-descr > ul {
    padding-inline-start: 5rem;
    margin-bottom: 2rem;
}

.about-descr>h5{
    text-align: center;
    margin-top: 1rem;
}

.logos-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 5rem auto;
    width: 90%;
    max-width: 120rem;
}

.logo-title {
    text-align: center;
    padding: 2rem;
    letter-spacing: 0.4rem;
}

.logos-slide {
    display: flex;
    white-space: nowrap;
    animation: logos 10s linear infinite;
}

.logo-img {
    height: 7rem;
    margin: 0 3rem;
}

.logos-container:hover .logos-slide {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}

@keyframes logos {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.section-title {
    display: block;
    font-size: 5rem;
    text-align: center;
    min-width: fit-content;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.about-title:after, .offer-title:after, .portfolio-title:after{
    content: '';
    background: var(--col3); 
    width: 14rem;
    height: 11px;
    border-radius: 20px;
    display: block;
    margin-top:-19px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-title:after {
    width: 20rem;
}


/* OFFER */

.offer {
    display: block;
    width: 90%;
    margin: auto;
    height: min-content;
}

.offer-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.offer-descr {
    width: 33.33333333%;
    min-width: 23rem;
    text-align: center;
    min-height: 45rem;
    flex-basis: 30rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: 3rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 2rem;
    user-select: none;
}

.offer-descr > h4 { 
   line-height: 3rem;
   margin-bottom: 1rem;
}

.offer-img {
    display: block;
    margin-bottom: 1rem;
}

.offer-img > img {
    height: 10rem;
    width: 10rem;
    padding: 2rem;
    border: 4px solid var(--col1);
    border-radius: 100%;
}

.portfolio {
    display: block;
    text-align: center;
    position: relative;
    padding-bottom: 3rem;
}

.portfolio-button {
    width: 20rem;
    margin: 2rem auto;
    text-align: center;
}

.slider-container {
    display: block;
    position: relative;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.slider-wrap {
    display: block;
    width: 60vw;
    max-width: 90rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    height: 100%;
    display: flex;
    margin-left: -100%;
    flex-direction: row;
    width: max-content;
    transition: all 1s ease;
    z-index: 0;
}

.card {
    display: flex;
    max-width: 90rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60vw;
}

.card-img {
    height: 13rem;
    padding: 1rem;
}

.card-img > img {
    display: flex;
    height: 100%;
    min-width: 17rem;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card-descr {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    min-height: 32rem;
}

.nav-btn {
    display: block;
    font-size: 4rem;
    color: var(--col1);
    position: absolute;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    text-align: center;
    z-index: 9999;
}

.left {
    left: -2rem;
    top: 50%;
}

.right {
    right: -2rem;
    top:50%;
}

.nav-btn > p {
    font-size: 5rem;
    transform: translateY(-1.8rem);
}

.portfolio-all {
    display: none;
    background-color: white;
    position: fixed;
    top: 5vh;
    left: 5vw;
    padding: 2rem 0;
    margin: 0 auto;
    width: 90vw;
    z-index: 99999;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 2rem;
    overflow: auto;
    height: 80vh;
}

.portfolio-all-txt > h2 {
    margin-top:2rem;
    margin-bottom:2rem;
}

.portfolio-all-close {
    position: absolute;
    text-align: center;
    top: 2rem;
    right: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #81b4be;
    cursor: pointer;
}

.portfolio-all-close:hover {
    background-color: #81b4be8a;
}

.portfolio-all-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.portfolio-all-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 4rem;
} 

.numbers {
    display: block;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem 0;;
    background-color: var(--col1)
}

.numbers-title {
  text-align: center;
  padding: 2rem;
  letter-spacing: 0.4rem;
}

.numbers-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

.count {
    display: flex;
    flex-direction: column;
    height: 50%;
    min-width: 18rem;
    align-items: center;
    text-align: center;
}

.count:is(div) {
    font-size: 4rem;
}

.count > p {
    display: block;
    height: 10rem;
    flex:1;
    font-size: 1.8rem;
}

.num {
    flex:1;
}

.count-svg {
    height: 2rem;
}
 
#count-coffee::before {
    content: ">"
}
/*ADVANTAGES*/

.advantages {
    display: block;
    margin: auto;
    height: 35rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--col6)
}
.advantages-title {
    padding-top: 2rem;
    text-align: center;
}

.advantages-wrap {
    display: grid;
    max-width: 120rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    margin: 0 auto;
    height: 100%; 
}

.adventages-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
}

.advantages-img {
    display: block;
    margin:  0 auto;
    height: 5rem;
}

.advantages-card > p {
    display: block;
    font-size: 1.8rem;
    padding: 2rem 0;
}

/* FOOTER */

.footer-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50rem;
    flex-direction: column;
}

.footer-main {
    display: block;
    width: 100%;
    background-color: var(--col6);
}

.footer-left {
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 2rem;
}

.footer-right {
    height: 100%;
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.footer-bottom {
    text-align: right;
    padding-top: 1rem ;
    margin-left: 3rem;
    margin-right: 3rem;
    color: rgb(31, 31, 31);
    border-top: 1px solid rgb(204, 204, 204);
    min-height: 4rem;
}

.footer-bottom >p {
    font-size: 1.2rem;
}

.footer-address {
    display: block;
    width: 80%;
    margin: auto;
}

.footer-message {
    display: block;
    width: 80%;
    margin: 5rem auto;
}

.footer-button {
    display: block;
    margin-top: 2rem;
    width: 20rem;
}

.a-email {
    color: black;
    text-decoration: underline;
}

.a-email:hover {
    color: white;
    transition: ease 0.2s;
}

.map-container {
    height: 50rem;
    width: 90%;
    padding: 2rem;
}

.map-iframe {
    display: block;
    height: 100%;
    width: 100%;
    border: 0px;
    margin-right: 0;
}

@media screen and (min-width: 320px) {

    .portfolio-button {
        width: 25rem;
    }
    
    .header-logo {
        font-size: 6rem;
    }

    h1 {
        font-size: 3.2rem;
        line-height: 4rem;
    }
    
    h2 {
        font-size: 2.6rem;
    }
    
    h3 {
        font-size: 2.2rem;
    }
    
    h4 {
        font-size: 1.8rem; 
    }
    
    .about-descr>p {
        text-indent: 4rem;
        text-align: justify;
    }

    .card-img {
        height: 15rem;
        width: 90%;
    }

    .left {
        left: 2%;
        bottom: 40%;
    }
    
    .right {
        right: 2%;
        bottom: 40%;
    }
}

@media screen and (min-width: 420px) {
    h1 {
        font-size: 3.6rem;
        line-height: 5rem;
    }
    
    h2 {
        font-size: 2.8rem;
    }
    
    h3 {
        font-size: 2.4rem;
    }
    
    h4 {
        font-size: 2rem; 
    }

    .offer-descr>p {
        font-size: 1.8rem;
    }

    .about-descr>p {
        font-size: 1.8rem;
    }

    .about-descr>ul>li {
        font-size: 1.8rem;
    }

    .header-buttons {
        flex-direction: row;
    }
    
    .card-descr {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        min-height: 20rem;
    }

    .count:is(div) {
        font-size: 5.5rem;
    }
    
    .card-img {
        height: 18rem;
        min-width: 16rem;
    }
}

@media screen and (min-width: 550px) {

    .advantages-wrap {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: none;
    }
    
    .advantages {
        height: 20rem;
    } 

    .card-img {
        height: 25rem;
    }

    .slider-wrap::before {
        height: 35rem;
        transform: translateY(12rem);
    }

    .footer-wrap {
        flex-direction: row;
    }
    
    .header-title-container {
        padding-bottom: 15rem;
    }

}

@media screen and (min-width: 770px) {

    .header-title >h1 {
        max-width: 50rem; 
    }

}

@media screen and (min-width: 900px) {
    .header-nav {
        display: flex;
    }

    .header {
        height: 70vh;
    }
    
    .header-logo {
        font-size: 6rem;
        transform: translateY(var(--y));
    }

    h1 {
        font-size: 4rem;
    }

    .header-hamburger {
        opacity: 0;
    }
}

@media screen and (min-width: 910px) {
    
    .advantages-img {
        display: block;
        margin:  0 auto;
        height: 6rem;
    }

    .card {
        display: flex;
        flex-direction: row;
        width: 60vw;
    }

    .card-descr {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: left;
    }

    .slider-wrap {
        height: 30rem;
        margin-top:5rem;
    }
}
 